.bg-custom {
    background-color: #720da1;
}

.dropdown-menu {
    background-color: #720da1; /* Background color for the dropdown menu */
}

.dropdown-item {
    color: white !important; /* Text color for dropdown items */
}

.dropdown-item:hover {
    background-color: #57187a; /* Background color on hover for dropdown items */
}

#Current { 
    display: flex; 
    flex-direction: row; 
    color: rgba(0, 0, 0, 0.54);
} 

#Current:before, 
#Current:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 1px solid rgba(116, 116, 116, 0.54); 
    margin: auto; 
}
.Research{
    display: flex;
    padding-bottom: 20px;
}

.left-col{
    flex: 1;
    padding: 10px;
}

.right-col{
    flex: 2;
    padding: 10px;
}

.Language{
    margin: 70px 0 70px 0;
}
.Language:link{
    text-decoration: none;
}
.Information{
    margin-top: 70px;
}
.Visitors{
    margin-top: 70px;
}

.text-edit{
    text-decoration: none;
    color: rgb(57, 86, 171);
}